<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="title">TV Show Details</h3>
        </div>

        <form>
          <select
            class="form-control col-md-10"
            data-toggle="select"
            data-minimum-results-for-search="Infinity"
            [(ngModel)]="selected"
            name="selected"
          >
            <!-- <option hidden [value]="" selected>Select Season</option> -->
            <option *ngFor="let season of seasons">Season {{ season }}</option>
          </select>
        </form>
        <ng-container *ngFor="let episode of episodes">
          <div
            class="cardEp"
            *ngIf="episodes.indexOf(episode) + 1 == selected.slice(7)"
          >
            <ul
              class="list-group list-group-flush"
              *ngFor="let ep of episode; let i = index"
            >
              <li class="list-group-item">
                <a class="numSpan"
                  ><span>{{ ep.number }}</span></a
                >
                <a class="nameSpan"
                  ><span>{{ ep.name }}</span></a
                >
                <a class="dateSpan"
                  ><span>{{ ep.airdate }}</span></a
                >
                <a class="checkSpan"
                  ><label class="container">
                    <input
                      type="checkbox"
                      [(ngModel)]="ep.selected"
                      [id]="episode[i]"
                      [name]="episode[i]"
                      (change)="select(episode[i].season, episode[i].number)"
                      [checked]="
                        isChecked.includes(
                          episode[i].season + '.' + episode[i].number
                        )
                      "
                    />
                    <span class="checkmark"></span>
                  </label>
                </a>
              </li>
            </ul>
          </div>
        </ng-container>
        <div class="card exploreCardInfo">
          <div class="card watchlistCardImg" *ngFor="let cast of casts">
            <img
              class="card-img-top"
              src="{{ cast.person.image.original }}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ cast.person.name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
