<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="card card-nav-tabs col-md-12">
      <h4 class="card-header card-header-info">Featured</h4>
      <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="/explore" class="btn btn-primary">Back</a>
      </div>
    </div>
  </div>
</div>
