<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="title" style="float: left">TV Show Details</h3>
          <button style="float: right" [routerLink]="['/user/watch-list']">
            <em
              class="fa fa-chevron-circle-left"
              style="font-size: 30px; color: red"
            ></em>
          </button>
        </div>
        <form>
          <select
            class="form-control col-md-11"
            data-toggle="select"
            data-minimum-results-for-search="Infinity"
            [(ngModel)]="selected"
            name="selected"
          >
            <option *ngFor="let season of seasons">Season {{ season }}</option>
          </select>
        </form>
        <div class="card exploreCardInfo1">
          <ng-container *ngFor="let episode of episodes">
            <div
              class="cardEp"
              *ngIf="episodes.indexOf(episode) + 1 == selected.slice(7)"
            >
              <h2>Episodes :</h2>
              <ul
                class="list-group list-group-flush"
                *ngFor="let ep of episode; let i = index"
                [routerLink]="[
                  '/user/ep-detail',
                  {
                    id: show.id,
                    show: show.name,
                    name: ep.name,
                    number: ep.number,
                    season: ep.season,
                    summary: ep.summary,
                    img: ep.image?.original,
                    airdate: ep.airdate
                  }
                ]"
              >
                <li class="list-group-item">
                  <a class="numSpan"
                    ><span>{{ ep.number }}</span></a
                  >
                  <a class="nameSpan"
                    ><span>{{ ep.name }}</span></a
                  >
                  <a class="dateSpan"
                    ><span>{{ ep.airdate }}</span></a
                  >
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
        <div class="card exploreCardInfo">
          <h2>CAST :</h2>
          <div class="card watchlistCardImg" *ngFor="let cast of casts">
            <img
              class="card-img-top"
              src="{{ cast.person.image.original }}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title" title="{{ cast.person.name }}">
                {{ cast.person.name.slice(0, 18) }}
              </h5>
              <h5 class="card-title1" title="{{ cast.character.name }}">
                {{ cast.character.name.slice(0, 18) }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
