<div class="panel-header panel-header-sm"></div>
<div *ngIf="detail === false" class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="title">Explore</h3>
          <h5 class="category">Choose TV Shows you want to watch</h5>
        </div>
        <form (submit)="onSubmit()">
          <div class="input-group no-border col-md-10">
            <input
              type="text"
              name="query"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="query"
            />
            <div class="input-group-append">
              <div class="input-group-text" (click)="searchShow()">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body all-icons">
          <div class="row">
            <div
              class="card"
              style="width: 20rem; margin: 10px"
              *ngFor="let search of searched"
            >
              <img
                class="card-img-top"
                src="{{ search.show.image.original }}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h2 class="card-title">{{ search.show.name }}</h2>
                <p class="card-text">
                  {{ search.show.summary.substr(0, 100) }} ...
                </p>
                <button (click)="toggleDetail(search)" class="btn btn-primary">
                  More Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="detail === true" class="main-content">
  <div class="row">
    <div class="card card-nav-tabs col-md-12">
      <h4 class="card-header card-header-info">Featured</h4>
      <div class="card-body">
        <h4 class="card-title">{{ show.show.name }}</h4>
        <p class="card-text">
          {{ show.show.summary }}
        </p>
        <button (click)="toggleDetail()" class="btn btn-primary">Back</button>
      </div>
    </div>
  </div>
</div>
