<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <nav class="navbar navbar-expand-lg bg-white">
          <div class="container">
            <div class="navbar-translate">
              <a class="navbar-brand"> Watch List </a>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item" [class.active]="active === 1">
                  <a class="nav-link" (click)="activeList(1)"> All Shows </a>
                </li>
                <li class="nav-item" [class.active]="active === 2">
                  <a class="nav-link" (click)="activeList(2)">Watch Next</a>
                </li>
                <li class="nav-item" [class.active]="active === 3">
                  <a class="nav-link" (click)="activeList(3)">Finished</a>
                </li>
                <li class="nav-item" [class.active]="active === 4">
                  <a class="nav-link" (click)="activeList(4)"
                    >Not Started Yet</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div *ngIf="active === 1 && !detail">
          <div class="card-header">
            <h3 class="title">All Shows</h3>
          </div>
          <div class="card-body all-icons">
            <div class="row">
              <div
                class="card watchlistCardImg"
                *ngFor="let show of allShows"
                (click)="details(show)"
              >
                <img
                  class="card-img-top"
                  src="{{ show.image.original }}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ show.name }}</h5>
                </div>
                <div class="diviconhover">
                  <em class="now-ui-icons ui-1_zoom-bold iconhover"></em>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="active === 2 && !detail">
          <div class="card-header">
            <h3 class="title">Watch Next</h3>
          </div>
          <div class="card-body all-icons">
            <div class="row">
              <div
                class="card watchlistCardImg1"
                *ngFor="let shownext of nextWatch"
                (click)="details(shownext)"
              >
                <img
                  class="card-img-top"
                  src="{{ shownext[0].image.original }}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title1">
                    S{{ shownext[1].slice(0, 1) | episode }}E{{
                      shownext[1].slice(2) | episode
                    }}
                  </h5>
                  <h5 class="card-title2">{{ shownext[0].name }}</h5>
                </div>
                <div class="diviconhover">
                  <em class="now-ui-icons ui-1_zoom-bold iconhover"></em>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="active === 3 && !detail">
          <div class="card-header">
            <h3 class="title">Finished</h3>
          </div>
          <div class="card-body all-icons">
            <div class="row">
              <div
                class="card watchlistCardImg"
                *ngFor="let showfin of finished"
                (click)="details(showfin)"
              >
                <img
                  class="card-img-top"
                  src="{{ showfin.image.original }}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ showfin.name }}</h5>
                </div>
                <div class="diviconhover">
                  <em class="now-ui-icons ui-1_zoom-bold iconhover"></em>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="active === 4 && !detail">
          <div class="card-header">
            <h3 class="title">Not Started Yet</h3>
          </div>
          <div class="card-body all-icons">
            <div class="row">
              <div
                class="card watchlistCardImg1"
                *ngFor="let shownot of notStarted"
                (click)="details(shownot)"
              >
                <img
                  class="card-img-top"
                  src="{{ shownot.image.original }}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title1">S01E01</h5>
                  <h5 class="card-title2">{{ shownot.name }}</h5>
                </div>
                <div class="diviconhover">
                  <em class="now-ui-icons ui-1_zoom-bold iconhover"></em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
