.watchlistCardImg {
  width: 12rem;
  margin: 7px;
  height: 21rem;
  padding: 10px;
  cursor: pointer;
  /* float: left; */
}

.watchlistCardImg1 {
  width: 12rem;
  margin: 7px;
  height: 23rem;
  padding: 10px;
  cursor: pointer;
}

.card-img-top {
  opacity: 1;
  height: 16rem;
  width: auto;
}

.watchlistCardImg:hover .card-img-top {
  opacity: 0.3;
}

.watchlistCardImg:hover .iconhover {
  opacity: 1;
}

.iconhover {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 38%;
  left: 42%;
  font-size: 30px;
}
/* 
.diviconhover {
  opacity: 0;
} */

.card-title {
  font-weight: 800;
  font-size: 13px;
}

.card-title1 {
  font-weight: 800;
  font-size: 17px;
}

.card-title2 {
  font-weight: 800;
  font-size: 13px;
}

.nav-link {
  cursor: pointer;
}
