<div class="panel-header panel-header-sm"></div>
<div *ngIf="!detail" class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="title">Explore</h3>
          <h5 class="category">Choose TV Shows you want to watch</h5>
        </div>
        <!-- <form>
          <div class="input-group no-border col-md-10">
            <input
              type="text"
              name="query"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="query"
            />
            <div class="input-group-append">
              <div class="input-group-text" (click)="searchShow()">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
          </div>
        </form> -->
        <div class="card-body all-icons">
          <div class="row">
            <div
              class="card"
              style="width: 18rem; margin: 10px"
              *ngFor="let show of shows"
            >
              <img
                class="card-img-top"
                src="{{ show.show.image.original }}"
                height="400rem"
                alt="Card image cap"
              />
              <div class="card-body">
                <h2 class="card-title">{{ show.show.name }}</h2>
                <!-- <p class="card-text">
                  {{ show.show.summary.substr(0, 100) | summary }} ...
                </p> -->
                <button (click)="toggleDetail(show)" class="btn btn-danger">
                  More Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
