.feedCard {
  width: 50rem;
  margin: 0.5rem 10rem;
}
.cardLike {
  color: rgb(255, 94, 0);
  margin-left: 2rem;
  vertical-align: middle;
}

.likeContainer {
  cursor: pointer;
}

.cardTime {
  float: right;
}
.card-title {
  font-weight: 800;
  display: inline-block;
}

.fa-heart {
  margin-top: 5px;
  font-size: 18px;
  float: left;
  color: rgb(255, 94, 0);
}

.nav-link {
  cursor: pointer;
}

.PostContainer {
  border: 1px solid gray;
  width: 60%;
  margin-left: 20%;
  height: auto;
}

.ButtonPost {
  margin-right: 5%;
  float: right;
}
